body {
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: #fafafa;

}




.codeDescription>h1{
	line-height: 2 !important
}
.codeDescription{
	z-index: 10 !important
}
.Code{
	margin: 0 !important;
}
.CodeShell{
	margin: 10px auto;
}
.UserRow{
	max-width: 1100px;
	margin: 10px auto;
	height: 180px;
	margin-top: 60px;
	background-repeat: no-repeat;
}
.settingsButton{
	margin: 15px !important;
}
.Overlay{
	width: 100%;
	height: 30px;
	/*background: rgba(0,0,0,0.5);*/
	float: right;
	margin-top: 15px;
}
.OverlaySubject{
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0.5);
	position: relative;
	margin-top: 30px;
}
.ChooseSubjectType{
	width: 100%;
	height: 30px; 
	margin-top: 10px;
	border-radius: 2px 0px 0px 2px;
	box-shadow: 1px 1px 0.5px 0.5px rgba(0,0,0,0.1);
}
.Notif{
	color: #fff !important;
}
.Newnotif{
	background: #f2f6fa;
}
.lineExp{
	height: 100%;
	margin-right: 20px;
	float: right;
}
.streack{
	display: inline-block;
	background: linear-gradient(45deg, rgb(234, 236, 237), rgb(204, 204, 204));
	width: 20px;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	line-height: 1.3;
	color: orange;
	cursor: default;
}
.experience{
	cursor: default;
	margin-left: 10px;
	color: #fff !important;
	display: inline-block;
	max-width: 100px !important;
	border: none !important;
	background: linear-gradient(45deg, rgb(3, 169, 244), rgb(47, 189, 252));
	padding: 0 10px;
	line-height: 1.2;
	height: 20px;
	text-align: center;
	vertical-align: middle; 
	border-radius: 2px;
}
.badge{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	text-align: center;
	vertical-align: middle;
}
.badgeDiv{
	display: inline-block;
	height: 20px !important;
	line-height: 1.2;
}
.UserName{
	margin-bottom: 10px;
	cursor: default;
	min-width: 80%;
	font-size: 20px
}
.About{
	font-size: 14px;
	opacity: 0.8;
	font-weight: 300;
	max-height: 40px;
	max-width: 260px;
	cursor: default;
	margin-bottom: 5px;
}
.City{
	font-size: 15px;
	font-weight: 300;
	cursor: default;
}
.infoStyle{
	float: left;
	position: relative;
	text-align: left;	
	margin-left: 20px; 
	width: 300px;
	/*margin-top: 15px;*/
	padding: 15px;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;

}

.TooltipAbout{
	max-width: 300px;
	text-align: left;
}
.TooltipTasksTooltip{
	min-width: 200px;
	text-align: left;
	z-index: 9999999
}


.contentRow{
	max-width: 1100px;
	margin: 10px auto;

}
.highcharts-credits{
	display: none !important;
}
.Up{
	font-weight: 300;
	opacity: 0.9;
	vertical-align: middle;
	font-size: 16px;
	text-align: center;
	color: rgb(115, 135, 156);
	line-height: 1.6;
	max-height: 27px;
}
.buttonMoreInUp{
	position: absolute ;
	right: 20px ;
	cursor: pointer;
}
.buttonMoreInUp:hover{
	/*box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.75);*/
	opacity: 0.6;
}
.buttonMoreInUp:active{
	/*box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.75);*/
	opacity: 0.3;
}
hr{
	opacity: 0.1;
	margin: 0px 0px;
	border: 0.5px solid rgb(115, 135, 156);
}
.onePaper{
	width: 345px;
	margin: 10px;
	display: inline-block;
}
.paper{
	margin: 10px auto;
}
.coub{
	width: 220px;
	max-height: 150px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}
.subject-on-user-page:hover{
		box-shadow:  0px 0px 45px 0px rgba(50, 50, 50, 0.20);
}
.subject-on-user-page{
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}
.coub-inside{
		opacity: 1;
	transition: opacity 0.5s;
}

#myChart{
	max-width: 300px;
	max-height: 310px;
	margin: 0 auto;
}
.subjectLine{
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	max-height: 200px;
	white-space: nowrap;
	padding-top: 10px;
}
.UpNameSubject{
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);

}
.DownCountSubject{
	color: #fff;
	margin-top: 100px;
	padding-left: 10px; 

}
.progressLine{
	padding: 10px;
	height: 50px;
	border-bottom: 2px solid rgba(115, 135, 156, 0.1);
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
.progressTitle{
	width: 125px;
	display: inline-block;
	line-height: 1.6;
	text-align: left;
	float: left;
	vertical-align: top;
	font-size: 14px;
	margin-right: 5px;
	font-weight: 400;
	opacity: 0.9;
	color: rgb(115, 135, 156);
}
.progresspaper, .preferencepaper{
	min-height: 360px;
	min-width: 100% !important;
	text-align: center;
}
.loader{
	display: inline-block;
	width: 35%;
	text-align: center;
}
.procent{
	display: inline-block;
	font-size: 14px;
	line-height: 1.6;
	vertical-align: top;
	margin-left: 10px;
	color: #2196F3;
	opacity: 0.7;
	float: right
}
.iconMenuItem{
	margin: 0 5px;
	margin-top: 10px;
	padding-top: 10px;
}
.menuItem{
	line-height: 1;
}
.example-appear {
opacity: 0;
}
.contentItemMenu{
	padding-top: 0;
	margin-bottom: 20px;
}
.DividerMenu{
	background-color: #e0e0e0;
	opacity: 0.5;
	height: 20px !important;
}
.circle{
	width: 230px;
}
.circleUp{
	font-size: 21px;
	
}
.circleDown{
	padding: 5px;
}
.imgLast{
	max-width: 40px;
	display: inline-block;
	border-radius:2px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
}
.typeLast{
	width: 20px;
	display: inline-block;
}
.textLast{
	display: inline-block;
	font-weight: 400;
	color:rgb(115, 135, 156);
	font-size: 14px;
	max-width: 260px;
	padding: 5px 5px;
	padding-top: 10px;
	vertical-align: top;

	text-align: left;
}
.lineChange{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}
.lineChange:hover{
	opacity: 0.4
}
.lastchange{
	text-align: left;
	max-height: 320px;
	overflow-y: hidden}
.activity{
	max-height: 360px;
}
.variants{
	max-height: 360px;
}
#myChart2{
	max-height: 320px;
	
}
.notifications{
	position: absolute;
	cursor: default;
	z-index: 400;
	max-width: 320px;
	min-width: 320px;
	right: 5px;
	opacity: 0;
	top: -410px;
	margin:0;
	transition: top 1s, opacity 1s;
}
.notif{
	background: #fff;
	text-align: left;
}
.notifAuthorImg{
	float:left;
	display: inline-block;
	width: 35px;
	padding: 5px
}
.notifName{
	display: inline-block;
	opacity: 0.7;
	width: 50%;
}
.Chats{
	width: 320px;
	height: 100%;
	border-right: 1px solid rgba(0,0,0,0.1);
	border-left: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
}
.LineChat{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 5px;
	cursor: pointer;
}
.LineChat:hover{
	background: rgba(33, 150, 243, 0.25);

}
.LineChat:active{
	background: rgba(33, 150, 243, 0.15);

}
.activeLineChart{
	background: rgba(33, 150, 243, 0.15);
}
.ImgChat{
	margin: 10px 0;
	width: 30px;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
}
.NameChat{
	opacity: 0.7;
	margin: 5px;
	width:260px;
}
.TextChat{
	width:260px;
	font-size: 14px;
	margin-left: 5px;	
}
.textInfoChats{
	width: 270px;
	display: inline-block;
	height: 50px;
}
.notifText{
	display: inline-block;
	width: 70%;
}
.notifRow{
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
.CloseButtonModal{
	display: inline-block;
	height: 10px;
	width: 10px;
	float: right;
	opacity: .7;

}
.Achivment{
	width: 250px;
	margin: 0 auto;
}
.numbersAchiv{
	text-align: center;
	padding: 10px 0px;
	cursor: default;
	color: #fff !important;
	background: rgba(3, 169, 244, 0.8);
	border-radius: 0px 0px  2px 2px;

}
.ModalContnet{
	padding-top: 30px;
	overflow-y: auto;
	height:90%;
	margin-top: 0px;

}
.bodyChanges{
	overflow-x: hidden;
	height: 100%;
	white-space: nowrap;
	overflow-y: inherit;
	padding-bottom: 100px;
}
.bodyAchivments{
	overflow-x: hidden;
	height: 100%;
	white-space: nowrap;
	overflow-y: inherit;
	padding-bottom: 50px;
}
.ModalContnetChanges{

}
.scrollAChiv{
	margin-top: 50px;
	margin-bottom: 50px;
	height: 100%;
	overflow-y: auto;
}
.ModalContnetAchiv{
	margin-top: -4px;
	padding-bottom: 0px;
	overflow-y: auto;
	height: 91%;
}
.ModalUp{
	z-index: 999999;
	position: absolute;
	padding: 0 15px;
	display: inline-block;
	width: 100%;
	background: #2196F3  !important;
	padding-right: 0;
}
.Changes{
	margin-bottom: 50px;
}
.modalText{
	line-height: 2.8;
	float: left;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.UpAchiv{
	font-size: 18px;
	text-align: center;
	color:  rgb(115, 135, 156);
	padding: 10px 0;
}
.achivDescription{
	text-align: center;
	width: 250px;
	white-space: normal;
	padding: 5px 5px;
	height: 60px;
}



.characterCounter{
	opacity: 0.5;
	font-size: 14px;
	text-align: right
}
#countElem, #countElemAchiv{
	display: inline-block;
}
.achivLine{
	overflow-x: auto;
	white-space: nowrap; 
}
.achivElement{
	width: 70px;
	height: 70px;
	margin: 5px 10px;
	display: inline-block;
	cursor: pointer;
	background-size: 120% !important;
	background-repeat: round !important;

}
.chooseAchiv{
	
	background-color: rgba(150, 198, 95, 0.2) !important;
	opacity: 1;
	

}
.TextAchivLine{
	color: rgba(0, 0, 0, 0.298039);
	font-size: 12px;
	margin-top: 10px;
	font-weight: 300;
}
.chooseAchiv::after{
	content: '+';
	background: rgb(150, 198, 95);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	color: white;
	float: right;
	font-size: 18px;
}

.NoChange{
	float: right;
	height: 20px;
}

.buttons{
	padding: 10px;
	height: 40px;
	width: 100%;
	z-index: 999999;
	position: absolute;
	background: white;
}
.backgroundElement{
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: 310% !important;
	display: inline-block;
	margin: 5px;
	border-radius: 2px;
	cursor: pointer;
}
.backgroundClose{
	background-color: rgba(0,0,0,0.5) !important;
	opacity: 0.3;
}
.chooseBackground{
	border: 2px solid rgb(150, 198, 95);
	height: 74px !important ;
	opacity: 0.9
}

.example-appear.example-appear-active {
	opacity: 1;
   transition: opacity 2s;

}
.toolipSubject{
	margin-top: 20px;
	width: 100%;
	color: #fff;
	text-align: center;
}
.NameSubject{
	height: 70px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size: 40px;
	padding: 40px 0;
}
.ChooseInSubjectContent{
	width: 100%;
	text-align: center;
	padding: 0;
}
.UnitChooseInSubjectContent{
	display: inline-block;
	list-style: none;
	margin: 0 8px;
	font-weight: 400;
	padding-bottom: 8px;
	color: #565555;
	cursor: pointer;
	transition: border-bottom 0.25s;

}
#stick{
	height: 3px;
	left: 0;
    position: relative;
    width: 0px;
    transition: width 0.3s ease, left 0.2s linear;
}
.UnitChooseInSubjectContent:hover{
	opacity: 0.8
}
.UnitChooseNInSubjectContent, .UnitChooseNInSubjectContent:hover{
	color: #2196F3;
}
.closeIcon:hover{
	color: rgba(255,255,255, 0.8) !important;
}
.closeIcon{
	color: rgba(255,255,255, 0.3) !important;
}
.Changes{
	background: rgb(150, 198, 95) !important;
}
.progress-appear {
width: 0;
}
.lections{
	height: 100%;
	padding-bottom: 150px;

}
.lectionPaper{
	padding-bottom: 20px;
	height: 100%;
}
.nameoftheme{
	color: #2196F3;
	font-size: 18px;
	text-align: left;
	margin-left: 30px;
	margin-bottom: 10px;
}
.navigaionPoint{
	padding: 10px 5px;
	text-align: left;
	font-size: 15px;
	text-decoration: none;
	border-left: 3px solid #fff;
	cursor: pointer;
	font-weight: 300;
	opacity: 1;
	transition: opacity 0.5s;	
}
.navigaionPointActive{
	padding: 10px 5px;
	text-align: left;
	border-left: 3px solid #fff;
	font-size: 15px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 400;

}
.navigaionPoint:hover{
	opacity: 0.7
}
.navigaionPointActive:hover{

}
#navigation{
	float: left;
	min-height: 360px;
	min-width: 320px;
	max-width: 320px;
	overflow-y: auto;
	top: 60px;
	max-height: calc(100% - 220px);
}

.themeOfLections{
	padding-top: 20px;
}
.testButton{
	width: 90px;
	height: 90px;
	margin: 9px;
	display: inline-block;
	color: #fff;
	font-size: 32px;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	opacity: 0.9;
}
.testButton:hover{
	opacity: 1
}
.testContent{
	height: 255px;
	overflow-y: auto;
}
.buttonChangeTypeSubject:hover{
	opacity: 0.6
}
.contentModalCountVariants{
	padding-bottom: 0 !important;
}
.testNumber{
	height: 60px;
	padding-top: 20px;
}
.testOverlay{
	background-color: rgba(0,0,0,0.3);
	height: 30px;
	border-radius: 0 0 10px 10px; 
}
.progressBarYet{
	margin-top: 15px !important;
}
.progressTitleYet{
	max-width: 230px;
	margin: 10px auto;
	opacity: 0.7;
}
.forgotTheme{
	border-bottom: 0.5px solid rgba(0,0,0,0.1);
	font-weight: 300;
	text-align: left;
	padding: 5px;
	cursor: pointer;
	transition: font-size 1s;
}
.forgotTheme:hover{
	opacity: 0.7;
	font-size: 18px;
}
.lastResult{
	font-size: 100px;
	font-weight: 300;
	cursor: default;
	color: rgb(115, 135, 156);
	margin-top: 0px;
}
.lastResultTitle{
	color: rgb(115, 135, 156);
	font-size: 14px;
	text-align: center;
}
.row{
	margin: 0 10px;

	display: inline-block;
	cursor: pointer;
}
.Left{
		transform: scale(-1, 1);
}
.value{
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
	line-height: 1.4;
	height: 36px;
	color: #fff;
	font-size: 24px;
	width: 36px;
	border-radius: 50%;
}
.sliderTask{
	
}
.ScientiestText{
	color: rgb(115, 135, 156);
	font-style: italic;
	margin: 5px;
}
.author{
	text-align: right;
	font-style: normal;
	margin: 5px;
}
.hrInLastResult{
	margin: 10px 40px;
}
.variantsPage{
	max-width: 800px;
	margin: 60px auto;
	height: 100% ;
	text-align: center;
}
.taskContent{
	margin-left: 20px;
	width: 100%;
}
.numberTask{
	cursor: default;
	float: left;
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
	line-height: 1.6;
	height: 25px;
	color: #fff;
	width: 25px;
	border-radius: 50%;
	margin-right: 100%;
}
.ButtonTask{
	margin: 30px !important;
}
.lectioncontent{
	padding: 10px;
}
.ModalTasks{
	z-index: 999999;
	position: absolute;
	padding: 0 15px;
	display: inline-block;
	width: 100%;
	padding-right: 0;

}
.taskInTaskModal{
	white-space: pre-wrap;
	padding: 10px;
}
.NameNewsTitle{
	display: inline-block;
	color: #fe7faa !important;
}
.TitleNameState{
	color: #fff;
	height: 150px;
	padding-left: 5px;
	padding-top: 5px;
	padding-top: 100px;
	transition: opacity 0.5s;
	cursor: pointer;
	background: rgba(0,0,0,0);
	box-shadow: inset 0px -60px 200px -50px #000 !important;
	transition: background 0.5s
}
.TitleNameState:hover{
	background: rgba(0,0,0,0.5)
}
.topPages{
	text-align: left;
	padding-left: 10px;
	cursor: pointer;
}
.sliderUnit{
	box-shadow: inset 0px -350px 200px -50px #000 !important;
}
a{
	text-decoration: none;
	color: black;
}
.testOnTestPage{
	width: 100%;
	padding: 10px;
}
.paperNavigation{

}
.progress-appear.progress-appear-active {
   transition: width 2s;

}
.imgInTelegrams{
	float: left;
    width: 60px;
    border-radius: 30px;
    margin: 5px;
}
.oneTelegramm{
	border-bottom: 2px solid rgba(115, 135, 156, 0.1);
	height: 70px;
	cursor: pointer;
	transition: opacity 0.25s ease-in-out
}
.oneTelegramm:hover{
	opacity: 0.7;
}
.nameInTelegrams{
	width: 100%;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 60px;
    color: rgba(33, 150, 243, 0.8);
}
.textInTelegrams{
	padding-left: 60px;
	text-align: left;
    font-size: 14px;
    color: rgb(115, 135, 156);
}
.globalStaticPaper{
	min-height: 106.6px;
	min-width: 100%;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.dialogBodyTable{
	padding: 0 !important
}
.dividerInGlobalStat{
	transform: rotate(90deg);
	background: rgb(178, 118, 178);
	opacity: 1;
	height: 1px;
	width: 45px;
	border: 0;
	position: relative;
	left: -30px;
	top: -18px;
	display: inline-block;
}
.staticAuthor{
	width: 100px;
	height: 106.6px;
	display: inline-block;
}
#myChart3{
	max-height: 180px !important
}

.controlSubjectPage{
}


.deployDescription{
	opacity: .7
}
.deployDescription:hover{
	opacity: .9
}

/*.buttonMenuUser{
	transition: transform 1s ease-in-out
}
.buttonMenuUser:hover{
	transform: rotate(360deg)
}
*/


/*Animations of Task Page*/

.answer-appear {
  margin-top: 220px;
}

.answer-appear.answer-appear-active {
  margin-top: 0 ;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/**/
/*Animations of Height*/

.opacity-appear {
  opacity: 0;
  margin-top: -50px
}

.opacity-appear.opacity-appear-active {
	opacity: 1;
	margin-top: 0px;
  transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/**/
/*Animations of Height*/
.blue{
	color: rgb(33, 150, 243) !important;
}
.height-appear {
  height: 0px;
}

.height-appear.height-appear-active {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.iconMenuVariants{
	float: left;
	opacity: .6
}
.iconMenuVariants:hover{
	opacity: 1
}
/**/
@media (min-width: 459px) {
	#mobile-answer{
		display: none
	}
}

@media (max-width: 1600px) {


}
@media (max-width: 996px) {
	.procent{
		display: none;
	}
	#navigation{
		display: none;
	}
	.paperNavigation{
		display: none;
	}



}
@media (max-width: 766px) {
	.procent{
		display: inline-block;
	}


}
@media (max-width: 459px) {
	#answerLabel{
		opacity: 0
	}
	#answer{
		display: none
	}
	#mobile-answer{
		display: block
	}

	.onePaper{
		width: 300px;
	}
	.staticTasks{
		width: 100%;
	}
	#myChart2{
		
	}
	.infoStyle{
		margin-left: 5px;
		margin-top: 10px;
		width: 130px; 
	}
	.About{
		display: none;
		max-width: 220px;
		cursor: default;
		margin-bottom: 5px;
	}
	.UserName{
		margin-bottom: 5px;
		font-size: 18px;
		overflow-x: hidden; 
		white-space: nowrap;
	}
	.activity{
		display: none;
	}

	.ChooseSubjectType{
		margin-top: 0;
	}



}
@media (max-width: 325px) {
	.procent{
		display: none;
	}
	.About{
		display: none;
	}
	.UserName{
		margin-top: 10px;
	}
	.ModalContnet{
		height: 87%;
	}


}
/*[data-reactroot] { 
	padding-top: 0 !important;}*/






.chooseAchiev{
	opacity: 0.6
}
.chooseAchiev:after{
	content: '✔';
    font-size: 35px;
    color:rgb(81, 232, 93);
    margin-left: 25px;
    float: left;
}
.rowCkickTable{
	transition:  opacity 0.2s ease-in-out
}
.rowCkickTable:hover{
	opacity: 0.5 !important
	/*filter: blur(1px) !important;*/

}
.rowClickTableRed:hover{
	background-color: rgba(252, 163, 85,0.35) !important;
}
.rowClickTableYellow:hover{
	background-color: rgba(255, 244, 104,0.35) !important;
}
.rowClickTableGreen:hover{
	background-color: rgba(204, 247, 126,0.35) !important;
}


.button-change-pos{
	transition: all 0.2s ease-in 
}
.subject-tab-in-user{
	box-shadow: rgba(50, 50, 50, 109804) 0px -48px 49px -26px inset, rgba(0, 0, 0, 0.3) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
}

.test-appear {
  opacity: 0.01;
}

.test-appear.test-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
#carousel{
	transition: opacity 20ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}


.UpButton{
	opacity: 0.4;
	transition: all 0.6s ease-in-out;
}
.UpButton:hover{
	opacity: 1
}


.chooseAvatar{
	opacity: 1;
	transition: all 0.5s ease-in-out
}
.chooseAvatar:hover{
	opacity: 0.7
}

.userAvatar{
	border: 3px solid #fff !important;
	background-color: rgba(0,0,0,0.7)!important;
	background-size: 86%;
	background-position-x: 7px;
	background-position-y: 15px;
	background-repeat: no-repeat;
}

.overlay{
	background-color: rgba(0,0,0,0.75) !important;
    /*filter: alpha(opacity = 50) ; /* required for opacity to work in IE * !important/*/
}

.closeButton{
	position: absolute !important;
	top: 18px !important;
	right: 20px !important;
}